[2015-10-20 12:48] subinkk08 opened #7 "save file from Alamofire"
I am  getting a file base64 string from alamofire . how to save  as a file

[2015-10-20 12:59] phimage commented on #7
Did you use `Alamofire.download` or `Alamofire.request`?

[2015-10-22 07:18] subinkk08 commented on #7
HI sorry for the delay . i was busy with some other things.. Its worked fine ..thanks for the quick reply

[2015-10-22 08:26] #7 closed

[2015-12-15 09:45] vinbhai4u opened #13 "How to access .DocumentDirectory on iOS"
When I try the below

Path.UserDocuments

Path has no members UserDocuments

it has only 3 UserCache, UserHome, UserTemporary

[2015-12-15 09:52] vinbhai4u commented on #7
@phimage its not working now

I think FKPath is not what u have to use in latest version?

[2015-12-15 09:55] phimage commented on #7
@vinbhai4u see release https://github.com/nvzqz/FileKit/releases
`FKPath` become `Path`

[2015-12-15 09:57] vinbhai4u commented on #7
I tried Path.UserDocuments i cannot access it

[2015-12-15 09:57] phimage commented on #13
`.UserDocuments` is only OSX currently

We have a [task](https://trello.com/c/W2pyr3Ym/11-paths) to add other valid path to iOS

[2015-12-15 10:00] vinbhai4u commented on #13
thanks @phimage for now is there any work arounds??

I am trying to download files using Alamofire, needs to save somewhere and read it, what do u suggests?

[2015-12-15 10:01] phimage commented on #13
You can download in `. UserTemporary`

[2015-12-15 10:08] vinbhai4u commented on #7
@phimage can u update the above code for that it works for the latest version?

[2015-12-15 10:13] phimage commented on #7
@vinbhai4u just remove FK, nothing more

[2015-12-15 10:18] vinbhai4u commented on #7
I tried, Sorry I am very new to swift and iOS development :(

[2015-12-15 10:21] #13 closed

[2015-12-15 10:25] phimage commented on #7
even if you are new you cannot ask people to do your job by providing the full code tested and ready to work

try code, then if you have error ask the meaning of the error
- if it is a FileKit error, you can ask here but ...
- if this is a general error, swift syntax etc..., stackoverflow or any forum

[2015-12-15 10:37] vinbhai4u commented on #7
Sorry about that, but I figured it out

updating the code for future reference.

Alamofire.download(.GET, "download link") { temporaryURL, response in
            let suggestedFilename = response.suggestedFilename
            let url = NSURL(fileURLWithPath: Path.UserTemporary.description
                + suggestedFilename! as String)
            print(url)
            return url  // or FKPath(su

[2015-12-15 18:41] nvzqz commented on #13
Some directories on iOS were excluded that may exist. So that's an error on my part. I haven't gotten around to seeing which ones actually do exist, such as Documents.

[2016-01-14 21:45] Dschee opened #14 "tvOS target broken – doesn't build"
See the image below:
<img width="815" alt="ohne titel" src="https://cloud.githubusercontent.com/assets/6942160/12338561/7835031a-bb10-11e5-99c3-346e9471bdca.png">

OSX, iOS and watchOS targets are working correctly. Using XCode 7.2.

[2016-01-14 22:40] #14 closed

[2016-01-14 22:41] phimage commented on #14
sometimes xcode have some issues with file compile order.
I put String extension at the beginning, do a clean and now it's work

[2016-01-14 22:52] nvzqz commented on #14
Thanks @phimage, I tried messing around with the project and couldn't seem to fix it.

[2016-01-14 22:54] Dschee commented on #14
Indeed, thanks @phimage!

[2016-01-15 19:20] Dschee commented on #14
I just ran 'carthage update' on my project which is linkes to the develop branch and saw the same issue for the OSX target. Yesterday it was working. Strange. ^^

Here's the output where I installed the targets one by one:
[code]

[2016-01-15 19:23] phimage commented on #14
maybe I make an OSX edit when editing TVOS
I take OSX as example and move many file to find the problem.
So I make a new commit now to fix

[2016-01-15 19:26] Dschee commented on #14
Thanks again, all targets are now working! :+1:

[2016-01-16 07:09] innoreq opened #16 "How to rename?"
Although FileKit is a really great library, I have a small problem with it.
Situation: I want to copy a file from one location to another location with a different name. With the `copyToPath` method I get the file with the original name from path1 to path2. But: How do I rename the file there? Changing the name does not succeed, as name is read-only. So, I'm stuck a bit...
Perhaps you might give m

[2016-01-16 10:51] phimage commented on #16
`moveFileToPath` maybe

[2016-03-14 10:29] tuyencoder opened #17 "iOS should have UserDocuments as well"
Can you allow Path.UsersDocuments for iOS in addition to OSX?
And can you make Path.pathInUserDomain, Path.pathsInDomains public? This way I can extend Path with more iOS paths such as UsersDocuments

[2016-03-14 18:28] #16 closed

[2016-03-14 18:32] phimage commented on #17
maybe there is no new release from my commit b29f0015395e427ef7771687e47aaf2aa7b95825

try to use code from head

[2016-04-19 06:36] sun-fox-cj commented on #17
yes, UsersDocuments should for iOS, or make pathInUserDomain for public not private

[2016-04-19 21:02] nvzqz commented on #17
The `develop` branch already has UserDocuments. It'll be available in the next release.

[2016-04-19 21:02] #17 closed

[2016-04-21 04:01] uny opened #19 "New release tag"
I would like a release tag including @Dschee 's contributions https://github.com/nvzqz/FileKit/pull/18 .

[2016-05-07 11:02] Techprimate commented on #19
+1

[2016-05-08 03:11] nvzqz commented on #19
I'm going to look through previous commits to evaluate whether or not some are API-breaking or not. If they are, the next release will be 3.0.0, otherwise 2.1.0. Plans for 3.0.0 include cleaning up some ambiguities and making the project SPM-compatible. Apologies for not getting around to an update sooner!

[2016-05-08 04:31] nvzqz opened #21 "testWatch() Fails on First Run"
When testing FileKit, testWatch() will sometimes fail on the first attempt. I'm not familiar with GCD, so I don't necessarily know why this occurs.

[2016-05-08 10:30] phimage commented on #21
ok, I will do some tests when I have access to a mac computer

Just for information on OSX this is not a GCD implementation but a file system event one
(on the contrary, GCD is used in PR #20)

[2016-05-08 17:07] nvzqz commented on #21
I just figured it used GCD since it uses dispatch queues.

[2016-05-08 18:29] ijumps commented on #21
Fail on the first time because the watch call the delegate when a `create` event happens. I fix this to support call a block. After create the file, the watcher then watch the path itself, not happend the first time because the path not exists. If you want to monitor other events, maybe call `sleep(1)` after you create the file. Create and write files happen so quick, so maybe only create event co

[2016-06-05 00:56] objecthub opened #22 "NSFileHandle-based implementation and exceptions"
I noticed that FileKit is based on NSFileHandle.  NSFileHandle has an API that is based on (Objective-C) exceptions. The FileKit codebase currently does not catch those. IMO, this is required to make it possible to safely use FileKit (without arbitrary application terminations).

[2016-06-05 07:59] phimage commented on #22
thank you for your remark, but please could you be more specific. Are you talking about TextFile? And stream reading

[2016-06-19 12:27] Dschee commented on #19
Couldn't you simply make a release from commit 020e322f586d573668a846a5f2b9eee26beb2ca2 tagged as version 2.1 or 2.0.1? It could take a while until 3.0 is finished – it's already been a while since my fixes and I'm still waiting for a new release which. This holds back my [CSVImporter] framework to be released via CocoaPods (since I can't set my fork as a dependency in the .podspec I have to wait

[2016-07-02 14:58] Dschee commented on #19
Since I didn't get an answer for nearly two weeks now and this issue is already open for several months, **I released a new version myself**. Until a new version of FileKit is officially released replace you entry `pod "FileKit", "~> 2.0"` with `pod "Dschee-FileKit", "~> 2.1.1"` – that should get you the most current state of the develop branch as of now using my fork [here](https://github.com/Dsc

[2016-07-20 20:50] tfe opened #23 "Support for hard links"
Hi, I just ran into a case where I had to user a hard link instead of a symlink and had to fall back to NSFileManager to accomplish it. The API is almost identical to the symlink function:

[code]

Docs: https://developer.apple.com/library/ios/documentation/Cocoa/Reference/Foundation/Classes/NSFileManager_Class/index.html#//apple_ref/doc/uid/20000305-SW30

Thanks! If I have some time I'll add this

[2016-07-20 23:06] nvzqz commented on #23
Done eaf3a98604028b5afe51224e6b60ebaf33f4197e

[2016-07-20 23:06] #23 closed

[2016-07-20 23:10] nvzqz opened #24 "Clean up API and add Swift 3 support"
Future API should be written to be compatible with Swift 3.

Because Swift 2 support is being dropped, this is a breaking change that will result in a major version change for FileKit to 4.0.0.

Also, a lot of documentation is also either ambiguous or just weirdly worded.

Cleaning up the API entails following the [Swift API Style Guidelines](https://swift.org/documentation/api-design-guidelines/)

[2016-07-20 23:26] #19 closed

[2016-07-22 07:49] kartikthapar commented on #24
What is the current timeline for this issue? I believe I can spend a few** hours adding support for Swift3.

[2016-07-22 07:53] nvzqz commented on #24
I'm still in the process in converting the API to Swift 3 and roughly halfway done. Also making changes to method signatures such as `isChild(ofPath:)` for `Path`.

[2016-07-22 08:39] kartikthapar commented on #24
Cool!

[2016-07-27 10:51] nvzqz commented on #24
@kartikthapar I've been caught up with other things and I can only address this later this week. If you want to submit a PR with Swift 3 compatibility changes, go ahead.

[2016-07-29 00:42] RohanNagar opened #25 "File System Watching Documentation"
I read the release notes for v3.0.0, and "File system watching" caught my eye. I need to do file system watching in my application so that I can update a CollectionView as the contents of a directory change.

I don't see where usage of this feature is documented. Can you point me to where it is, or if there isn't any documentation, can you please provide some? I would love to take advantage of thi

[2016-07-29 00:49] nvzqz commented on #25
I'm actually not quite familiar with the implementation since it was made by other contributors but you can find `Path`'s `watch` method [here](https://github.com/nvzqz/FileKit/blob/eaf3a98604028b5afe51224e6b60ebaf33f4197e/Sources/DispatchWatcher.swift#L342). I don't like having two separate watch methods for OS X (watch2 isn't a good name), so that'll be cleaned up for v4.0.0.

[2016-07-29 00:49] #25 closed

[2016-07-29 01:43] Luccifer opened #26 "Delete function?"
Hello! The delete function will be very helpful, thanks anyway, great stuff u done

[2016-07-29 01:44] #26 closed

[2016-07-29 01:46] nvzqz commented on #26
Thanks, glad you like my work!

[2016-08-17 01:36] jakeheis commented on #24
@nvzqz is there an update on this issue? I'd be happy to contribute, but I didn't just want to jump in since above you stated you were already halfway done, and I wanted to avoid duplicated work

[2016-08-17 01:40] nvzqz commented on #24
@jakeheis Feel free to make a PR with any contributions. I've been lazy with this since updating to a new language version with so many changes isn't the most fun thing ever. Just make sure that whatever changes you make will build with either Xcode 8 beta 5 or beta 6 (preferred).

[2016-08-17 13:45] plasmLC commented on #24
@jakeheis @nvzqz I'm going to use FileKit in my fresh project which is using Swift 3.0 already, so I need the framework ASAP.

As I can see, @jakeheis doesn't have started already, so I wish to be assigned to the migration.
I'll start today because absent of Swift 3 support is blocker for my project.

@jakeheis please contact me if you started the work to escape duplication in the beginning.

[2016-08-17 13:52] nvzqz commented on #24
@plasmLC please keep in mind that even after FileKit achieves Swift 3 compatibility, the changes required break the current API, requiring a new major release (4.0.0). Because Swift 3 is still undergoing changes, a new version of FileKit won't be released until Swift 3 is officially released. So you'd need to be dependent on a specific commit.

[2016-08-17 13:55] plasmLC commented on #24
@nvzqz It's okay for me since all my code is under the situation :) Just bear in mind to escape duplication. Strictly saying, I can use my own fork in any case, but it would be better to merge after Swift 3.0 release and code reviews.

[2016-08-21 23:59] kartikthapar commented on #24
@nvzqz Hey man, I got super busy with some of the stuff going on; I don't think I'll be in any shape to contribute, I'm afraid. Apologies.

[2016-08-22 00:01] nvzqz commented on #24
@kartikthapar No worries, @jakeheis got Swift 3 compatibility going with #27. I can't this week but the following I'll try to work on part 2 of this issue.

[2016-08-22 00:02] kartikthapar commented on #24
👍

[2016-08-29 14:12] rbukovansky opened #28 "Support Linux?"
Hi, will FileKit support Linux as well? Currently I'm not able to build 3.0.0 tag due issue with Image+File.swift where is WatchKit imported, which is something that doesn't exist on Linux version of Swift.
Thanks.

[2016-08-30 01:39] nvzqz commented on #28
Thanks for pointing this out! Fixed in 4d928bc99cc075b9d6c0c4293ba472be4b7eed02.

[2016-08-30 01:39] #28 closed

[2016-08-30 07:49] rbukovansky commented on #28
Looks promising, but could you please tag that commit so I can use it with Swift Package Manager? Thanks.

[2016-09-13 13:40] rbukovansky commented on #28
Could we please get that tag 4.0.0, best would be 4.0.0-beta1?
Swift Package Manager (Swift 3.0) can handle that with this info in Package.swift:

[code]

Thanks a lot.

[2016-09-13 13:47] rbukovansky commented on #24
Could we please get Swift 3.0 with tag 4.0.0, best would be 4.0.0-beta1?
Swift Package Manager from Swift 3.0 can handle that with this info in Package.swift:

[code]

Thanks a lot.

[2016-09-15 12:50] rbukovansky commented on #24
I have been playing with it for a few days, but I can't get commit 4d928bc99cc075b9d6c0c4293ba472be4b7eed02 compiled by released final Swift 3.0 on Ubuntu. Could you please take a look? Build log attached.
[build_log.txt](https://github.com/nvzqz/FileKit/files/474647/build_log.txt)
Thank you.

[2016-09-17 07:16] tony-osibov commented on #24
First off thank you so much for the kickass package! I have been trying to get the develop branch to compile with my Swift 3 project to no avail. I know that it isn't technically done, but I saw you had done a fair amount of work toward 3.0 compatibility so I thought I would give it a try. Unfortunately I kept getting a segfault relating to a Data/NSData extension, more specifically "readFromPath"

[2016-09-18 07:10] ahmedk92 opened #29 "How to use the `Path` class while already having a class named `Path`?"
I tried `FileKit.Path` with no gain.

[2016-09-18 10:20] Luccifer commented on #24
Any stable version for Swift3 and xCode8?
Using FileKit in product and can't find anything quite close for comfortable API usage

[2016-09-20 21:58] phimage commented on #29
maybe try to import the `struct`
[code]

https://andybargh.com/lifetime-scope-and-namespaces-in-swift/

[2016-09-20 21:58] phimage commented on #22
I close due to lack of information

[2016-09-20 21:58] #22 closed

[2016-09-20 22:13] phimage commented on #24
develop branch compile

some tasks
- [ ] Use Data instead NSData
- [ ] `moveToPath(_ path: Path)` become `moveTo(path:` (same for `copyToPath`, ...)
- [ ] Use `FileManager.temporaryDirectory`,  `homeDirectory`, ...
- [ ] Remove first capital letter for `UserHome`, ... , `UserApplicationSupport`, ... ; maybe also Current and Root

[2016-09-20 22:24] Luccifer commented on #24
already tried to fix it by my own -> wrote own FileKit library :D No more need to wait for pods :D

[2016-09-28 13:27] phimage commented on #24
I make a branch [feature-swift3](https://github.com/nvzqz/FileKit/tree/feature-swift3) with some renaming 29e8c684fdb3018b3fe8ca6b84fe4fb06ef891bf

I think I fix the segmentation fault due to `Data`

Before rebasing into develop, I think @nvzqz must validate some renaming (protocol and generic)

[2016-09-28 22:29] nvzqz commented on #24
Thanks @phimage for the fixes. I'm going to review [feature-swift3](https://github.com/nvzqz/FileKit/tree/feature-swift3) tomorrow and try to fix anything else and merge it.

[2016-10-03 12:03] Dschee commented on #24
@nvzqz I just included the branch feature-swift3 to a Swift 3 project and it worked nicely – all tests passed. Looks good to me, did you have time to merge? :)

[2016-10-05 18:11] nvzqz commented on #24
@phimage Finally got around to reviewing your changes. Thanks a lot for them. I don't have anything to change so I'll merge now.

[2016-10-05 18:16] nvzqz commented on #29
Fixed with 9e075da

[2016-10-05 18:16] #29 closed

[2016-10-05 18:36] nvzqz commented on #24
I'm trying to push out a new pod but I'm getting this output from `pod lib lint --private --no-clean --allow-warnings`:
[code]

[2016-10-05 18:41] nvzqz commented on #24
Output from `pod env`:

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

[2016-10-05 19:33] phimage commented on #24
maybe create a .swift-version file
[code]

[2016-10-05 19:35] nvzqz commented on #24
That worked, thanks

[2016-10-05 19:41] #24 closed

[2016-10-05 19:42] nvzqz opened #30 "Update README for 4.0.0 API"
Examples in `README.md` use the old API style.

[2016-10-23 06:33] devSC opened #31 "How to get relative path?"

[2016-11-18 05:29] RohanNagar opened #33 "v4.0.0 Release Notes"
I was just wondering what the release notes for v4.0.0 are. On your releases page there are no release notes. I'd like to know what the changes are so I can upgrade accordingly.

Thanks!

[2016-11-22 06:48] mycisco opened #34 "how to install on swift package"

[2016-11-27 13:08] hainguyen86 opened #35 "BUILD FAILED - Xcode 8.1 - Carthage"
A shell task (/usr/bin/xcrun xcodebuild -project /Users/NEO/Workspace/Swift3/hsound/HSound/Carthage/Checkouts/FileKit/FileKit.xcodeproj -scheme FileKit-iOS -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES clean build) failed with exit code 65:
** BUILD FAILED **

The following build commands failed:

[2016-11-27 14:04] fantomnotabene opened #36 "Is this possible to move folder, with all files in it, recursively?"
I got an error when try to move it using function `moveTo()` on `Path`.

[2016-11-28 13:42] hainguyen86 commented on #35
/usr/bin/xcrun xcodebuild -project /Users/NEO/Workspace/Swift3/hsound/HSound/Carthage/Checkouts/FileKit/FileKit.xcodeproj -scheme FileKit-iOS -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES clean buildBuild settings from command line:
    BITCODE_GENERATION_MODE = bitcode
    CARTHAGE = YES
    CODE_

[2016-11-29 09:04] #35 closed

[2016-12-07 17:47] Alesete commented on #34
Maybe related #38

[2016-12-08 08:58] #30 closed

[2017-01-12 21:33] rpural opened #40 "How to read and write line by line?"
Why is it that there are no file read and write routines to read individual lines from a file, or write individual lines to a file, without having to open and close the file around each line (such as your |>> operator)?

I really love the Swift language, except that I can't read or write a text file in a normal manner. Reading the whole file at once is great... unless your file is several Megabyte

[2017-01-13 19:11] rpural commented on #40
I think I've found what I required in your framework. Trying to code up a sample to test it now.

[2017-01-13 19:39] rpural commented on #40
I was able to come up with this in the playground. I think that this is what I'm looking for, but there's no documentation for these classes in the docs displayed on the github page.

let teststream = TextFileStreamWriter(path: Path("/Users/rpn01/Documents/Shared Playground Data/fileKit_teststream"))

for i in 1...10 {
  teststream!.write(line: String(i))
}

teststream!.close()

let teststream2 =

[2017-01-13 23:27] nvzqz commented on #40
Hi, I'm not entirely familiar with the `TextFileStream` API since these features were not made by me but rather @phimage. It seems that based on your example, it may work as the solution you were looking for. Currently I'm not able to test this.

Let me know if this is a suitable solution, otherwise I'll look into implementing such features.

[2017-01-16 12:30] phimage commented on #40
Yes TextFileStreamReader is to read line by line , to avoid memory issues

you can also create a `TestFile`and do

[code]

code from test https://github.com/nvzqz/FileKit/blob/develop/Tests/FileKitTests.swift
you can find also code for `streamWriter`

[2017-01-16 12:42] phimage commented on #36
please provide the error when creating an issue
maybe the destination already exist? if yes you must delete all files at destination
or If you want something more evolved

 a method to copy recursively file by file using visitor pattern and/or provide a delegate  which decide for each files what to do if the destination already exist.
 then in delegate developper can
- provide and UI to ask user w

[2017-01-16 12:53] phimage commented on #31
relative path from what?
from current path?

there is no cocoa functions I think so we must implement it

I could provide a non tested code
- maybe we must standardize the path before
- then some code maybe are not swift3 . compliant
- return a Path will be more elegant
[code]

[2017-01-16 12:57] phimage commented on #33
https://github.com/nvzqz/FileKit/milestone/2?closed=1

I think the change are mainly swift 3 conversion with standard rules
If any problem please ask

[2017-01-16 13:12] phimage commented on #34
yes related

[2017-01-16 13:12] #34 closed

[2017-01-16 13:39] rpural commented on #40
Yes, this does satisfy my largest complaint about Swift in general. How they could design a language and core libraries while overlooking such a basic and necessary feature is beyond me. Thanks for filling the gap. :)

[2017-01-16 13:39] #40 closed

[2017-02-13 20:22] phimage opened #41 "Compile issue with swiftlint 0.16.1"
Swiftlint display some errors of type `Shorthand Operator Violation: Prefer shorthand operators (+=, -=, *=, /=) over doing the operation and assigning. (shorthand_operator)`
( maybe false positive https://github.com/realm/SwiftLint/pull/1157 )

[2017-02-13 20:27] #41 closed

[2017-02-13 20:28] phimage commented on #41
solution : configure shorthand_operator to warning instead of errors

[2017-02-16 03:22] Ponyboy47 opened #42 "Issues building on Linux with swift 3.0.1"
I just tried building this on an linux machine running Ubuntu 16.04 with swift 3.0.1 and there were several build errors.

[failures.txt](https://github.com/nvzqz/FileKit/files/778986/failures.txt)

I will attempt running this on my macOS laptop to see if I get the same failures

[2017-02-16 03:26] Ponyboy47 commented on #42
This compiles correctly, with only minor warning on macOS

[2017-02-17 17:25] #33 closed

[2017-03-22 16:24] adotor commented on #41
Are there any plans to release this fix?

[2017-03-24 07:34] nvzqz commented on #41
Sorry for being late on this. I'll make a release this weekend (probably Saturday)!

[2017-04-05 01:00] RohanNagar opened #46 "Build Failing on Swift 3.1"
PR #44 fixes the build error, but these changes have not been released yet. When will you release these as a minor version update?

[2017-04-05 04:39] nvzqz commented on #46
Released v4.0.1

[2017-04-05 04:39] #46 closed

[2017-04-21 10:12] trips-app commented on #42
What branch did you try on macOS and was it converted to Swift 3 syntax in Xcode? Thanks.

[2017-05-13 23:04] nvzqz commented on #42
What's the status on this? @Ponyboy47

[2017-05-15 10:15] IvanKolesnik commented on #31
I have something like this in my extension
[code]

And I use it like that

[code]

This function does not handle some edge cases, but it suits my needs.

[2017-05-26 05:46] TofPlay opened #47 "Carthage: warnings"
Hi,
When I build your component with carthage I have these warnings:
[code]

[2017-05-29 15:01] IvanKolesnik commented on #47
This also appears in Issue Navigator when using Cocoapods. And in this case it is annoying - I don't like having warnings in my project.

[2017-06-28 14:51] Vitaliyy-jomedia opened #48 "Support Swift 4"
When do you plan to add support for Swift 4

[2017-07-05 20:17] Ponyboy47 commented on #42
@trips-app I was using the master branch on macOS. I just cloned the repo and tried building it.

@nvzqz It's been a long time since I even looked at this repo. I started using kylef/PathKit, but I'm going to look into this one and give it another shot and see if I can't get it compiling on Linux.

[2017-07-05 20:27] nvzqz commented on #42
@Ponyboy47 part of my plan for this month is to make some improvements to FileKit + improve compatibility issues + add Swift 4 support. So I'll try to tackle this as soon as I can.

[2017-07-05 21:57] Ponyboy47 commented on #42
Well I just noticed some weird swift behavior on linux and ended up filing a bug (https://bugs.swift.org/browse/SR-5382).

For whatever reason, the file TextFile.swift cannot be named that or else it thinks String does not conform to ReadableWritable. Renaming TextFile.swift to StringFile.swift solves those build issues, but I have no idea why. Just thought I'd mention the bug ticket I filed for s

[2017-07-05 22:29] nvzqz commented on #42
That's an oddly specific bug. 😅

[2017-07-06 19:46] Ponyboy47 commented on #42
So I've gotten most everything fixed for linux on my local fork except for 4 errors.

1) For whatever reason, on linux, the FileManager delegate property is read-only. So the _FMWrapper doesn't work.
    @nvzqz Is there a specific reason for the _FMWrapper in Path.swift instead of just using the default file manager? I can probably work around that if it is necessary, but it would be easier if I d

[2017-07-06 20:25] nvzqz commented on #42
I don't remember exactly why I made _FMWrapper. I believe it was because I wanted to allow assigning a delegate to a specific path. This feels like a waste looking back at it. It should definitely be removed in a 6.0 version.

Regarding the NS-APIs, some of it should also go. I'm thinking I may reinvent the wheel a bit and remove the need for FileManager and use the C API directly if this doesn't

[2017-07-06 20:37] Ponyboy47 commented on #42
I would love to remove most of the reliance on Foundation. That would be the best way to ensure this is cross-platform. Obviously we will need a little bit of Foundation for things like the Data type and probably a couple other things. I don't have a problem with using FileManager because it does let us avoid reinventing the wheel, but if that's what you want to do then I'd be more than happy to g

[2017-07-06 20:38] Ponyboy47 commented on #42
Well I'm going to go crazy on my branch and do some pretty substantial refactoring to get this working on linux and to remove a bunch of stuff that just won't work in linux

[2017-07-06 21:15] nvzqz commented on #42
Getting #48 sorted out while FileKit is 5.x would be great.

Regarding cross platform compatibility, it's interesting how some things aren't just on an implementation level but also a compiler level. Here's a perfect example https://github.com/nvzqz/RandomKit/commit/0c0683016f64ad7506f3550cf850b5b75c3a9236

[2017-07-06 23:10] Ponyboy47 commented on #42
I'll probably wait for linux support until 5.0 since it will probably take a pretty substantial effort to remove _FMWrapper and several of the NSTypes. I'll focus on #48 and getting FileKit Swift 4 ready for now

[2017-07-08 18:41] Ponyboy47 commented on #48
Just opened a pull request for Swift4 support: #49

It really wasn't too bad to get everything compiling on swift4

[2017-08-14 07:52] phimage commented on #47
Just a try with this commit 6f2353f785df388783932fe1b87c13ca3a4a278b
I think PR #49 will do better job for some part and I do not want to add conflict, so I reverted

[2017-08-26 05:45] phimage opened #50 "Support Decodable/Encodable (Swift 4)"
In the past, I try to make some utility functions to work with NSCoding (branch feature-nscoding), write and read JSON

In swift 4 Decodable/Encodable (and [Codable](https://developer.apple.com/documentation/swift/codable)) allow to have a better interface to serialize objects

We can
- [x] write to file an `Encodable` object
- [x] write to file an array of `Encodable` objects
- [x] read from file

[2017-08-26 16:28] nvzqz commented on #50
These would be good changes to have but behind `#if swift(>=3.2)`.

[2017-09-21 00:30] nvzqz commented on #48
With the official release of Swift 4, this is now top priority. Seeing as #49 has a few unwanted changes, I'll attempt to update the project myself this upcoming weekend.

I'm very sorry for the long delay.

[2017-09-22 12:32] liufsd commented on #48
1

[2017-09-29 08:20] phimage commented on #48
need help @nvzqz ?
I can do it this week end

[2017-09-29 08:33] nvzqz commented on #48
@phimage Yes please, if you wouldn't mind. School work is keeping me busy and this feels more like a chore than anything else 😅.

[2017-09-30 20:31] phimage commented on #48
73b86c74d3d8a91de0fd68095cc8cfd5f2a3d24e

- Conversion to swift 4
- travis file for Continuous integration. You can enable it by logging into https://travis-ci.org
- Keep the original error cause in FileKitError
  - In a lot of case we want to know why the operation failed
  - Introduce a derived ReasonError in FileKitError in some specific case where this is no Foundation Error
- fix swiftlint wa

[2017-09-30 20:37] phimage commented on #47
String bridging fixed

For ExpressibleByStringInterpolation I do not known how to convert the code and keep the functionality
It seems to work with swift 4

[2017-09-30 22:08] phimage commented on #50
I make a class FileKit to get shared JSON/PropertyList encoder/decoder
And also for easy to use functions
[code]
Array of Codable are codable, so the same functions work

---

I add protocols `JSONReadable`, `JSONWritable` (or `PropertyListReadable`/`PropertyListWritable`) to be able to implement `Readable` and `Writable` and create `File` with specific type just by implementing protocols (an alia

[2017-09-30 22:10] phimage commented on #50
committed but need some doc in README

[2017-10-01 01:33] nvzqz commented on #48
@phimage thank you very much for your work on this. I'll tag and release your changes soon.

[2017-10-01 01:39] #48 closed

[2017-10-01 01:44] nvzqz commented on #48
Released v5.0.0 on CocoaPods

[2017-10-16 09:31] matthewxu opened #51 "Cannot convert value of type '[FileAttributeKey : Any]' to expected argument type '[String : Any]?'"
Xcode9
after pod install
Swift Compiler Error Group:
/Users/matthewxu/project/LiLiTools/Pods/FileKit/Sources/FileProtection.swift:126:82: Cannot convert value of type '[FileAttributeKey : Any]' to expected argument type '[String : Any]?'
on `manager.createFile(atPath: _safeRawValue, contents: nil, attributes: attributes) { `
in the following codes
[code]

Any one meet this issue and how to solve i

[2017-10-17 00:51] matthewxu commented on #51
I solved this issue need to import the framework by manual instead of pod.
Any one import the framework successful by pod?

[2017-10-20 08:01] MainasuK commented on #51
I got the same issue when I use FileKit 4.0.1. It's looks like the pods update for Swift 4.0 somehow.
You can try FileKit 5.0.0 with Swift 4.

OR

Use that pod with Swift 3.2.
`pod 'FileKit', :git => 'https://github.com/nvzqz/FileKit.git', :commit  => '8599917'`

[2017-10-23 14:14] RabbitMC opened #52 "Cannot call value of non-function type 'FileType?'"
Hi,
I'm getting a compiler error when building my macOS app using FileKit integrated with Cocoapods.

The app is for macOS 10.13. I'm using Xcode 9.0.1, Cocoapods and FileKit 4.0.1 (5.0.0 was not available over Cocoapods)

If I want to compile the I getting this error:

`Cannot call value of non-function type 'FileType?' ` in

[code]

[2017-10-23 14:15] RabbitMC opened #53 "Static let 'NowEventId' is internal and cannot be referenced from a default argument value"
Hi,
I'm getting a compiler error when building my macOS app using FileKit integrated with Cocoapods.

The app is for macOS 10.13. I'm using Xcode 9.0.1, Cocoapods and FileKit 4.0.1 (5.0.0 was not available over Cocoapods)

If I want to compile the I getting this error:

`Static let 'NowEventId' is internal and cannot be referenced from a default argument value`

[code]

[2017-11-09 00:30] theeternalsw0rd commented on #48
Using v5.0.0 xcode has deprecation warning about ExpressibleByStringInterpolation in Path.swift with swift 4. Seems to indicate removal is imminent. Perhaps a dot release of swift 4 will break it.

[2017-11-09 09:03] phimage commented on #48
@theeternalsw0rd this is an other topic.
This warning has been already there in swift3
I did not find any replacement for this feature. I someone find it, please PR.

[2017-11-09 09:07] phimage commented on #52
@RabbitMC You can get 5.0.0 with cocoapod, just put the git URL in Podfile (and you also specify commit or branch or tag)

I make a pod try FileKit without any issue when compiling using Xcode9.1

You want to use swift4 or swift3?

[2017-11-09 09:23] phimage commented on #53
I see the issue in 4.0.1
I think with previous compilator it was not a problem

I create a swift3.2 branch. You can use it if you want to use swift3

[2017-11-09 09:23] #53 closed

[2017-11-09 09:25] phimage commented on #51
I made a Swift 3.2 branch for swift3 for xcode 9
Put a .swift-version file with 3.2 inside your project; it could help cocoapod to choose the correct version

[2017-11-14 14:44] RabbitMC commented on #52
hey @phimage,

thanks for reply.

I will get v5.0.0 over the git URL. Thanks for the hint.

Swift 4

[2017-11-18 19:19] #50 closed

[2017-11-18 19:28] #36 closed

[2017-11-23 09:41] giofid opened #54 "Sorted Path's children"
Hi,
how can I obtain the children of a `Path` sorted by descendant modified date, for example?

[2018-01-10 03:45] kivenZheng commented on #52
It has this problem when when compiling using Xcode9.2

[2018-01-13 21:34] phimage commented on #52
@kivenZheng please describe your issue, useless to speak without adding any information

[2018-01-13 21:36] phimage commented on #54
just get the children and make a sort on the array
https://developer.apple.com/documentation/swift/array/2296801-sort

[2018-01-13 21:36] #54 closed

[2018-01-17 00:27] sonnytron commented on #51
This has to be a bug because when I pull down the project and attempt to compile it with [String: Any], I get thrown an error because file manager expects FileAttributeKey: Any.
This is regardless of building Swift 4 or Swift 3.2.
My project is Swift 4, but I pulled down my Cocoapods as Swift 3.2 so I can upgrade them piecewise.
So when you have Swift 3.2 Pods on a Swift 4 project, FileManager cha

[2018-01-17 08:27] phimage commented on #51
@sonnytron iOS or macOS ?

How did you specify that FileKit use swift 3.2 ? did you check it
![xcode swift version](https://i.stack.imgur.com/JRrgk.png)
https://stackoverflow.com/questions/45198857/how-to-build-a-xcode-9-project-with-swift-4-0-using-pods-in-swift-3

- swift3.2 branch compile on iOS and macOS with Xcode 9.2 using swift 3.2
- develop & master branch compile on iOS and macOS with Xco

[2018-01-17 08:27] phimage commented on #52
close as duplicate of #51

[2018-01-17 08:27] #52 closed

[2018-01-21 03:03] neoneye commented on #31
I have made separate repo, [SwiftyRelativePath](https://github.com/neoneye/SwiftyRelativePath), for just this purpose with tests for edge cases.

[code]

Feel free to import it into FileKit.

[2018-02-12 06:24] anthonydito opened #55 "Path.children always returns 0 Results"
Code Example

    print(Path.userDesktop.children().count) // 0
    print(Path("my path with children").children().count) // 0

Now, both of the paths that I tested with do have children but the `.children()` method seems to always return 0.

I was using version `5.0.0` with Swift 4 on a Mac OS app.

[2018-02-12 06:39] #55 closed

[2018-04-26 11:17] haithngn opened #56 "Cannot create directory/file with name has slash character."
This code always create two directory **h** and sub directory **ai**.

[2018-05-31 23:23] dingwilson opened #57 "CocoaPods version not updated"
Your podspec/releases show `5.1.0`, but cocoapods only has up to `5.0.0`. Please run `pod trunk push` to update cocoapods with your latest podspec. Thanks!

[2018-06-01 10:50] mobilinked commented on #57
Same issue here, would you please help to update the version?

[2018-06-16 09:45] Rakesh777 opened #58 "Feature Request: For adding/removing extended file attributes"
It would be great to have a way to add/remove extended file attributes. For example, If I wanted to associate different display name for file rather than original name of file. In such case, extended file attributes can come in handy.

[2018-06-21 17:51] jhoughjr opened #59 "Debugger support?"
I've used FileKit for a while now, but a problem has plagued me often.
I'm never able to po anything FileKit related.

Any ideas why this is the case?

for example :
(lldb) po name
expression produced error: error: /var/folders/cs/51wtzgp51v157z25_b0fjqn80000gn/T/expr10-5d206b..swift:1:85: error: 'Path' is not a member type of 'FileKit'
Swift._DebuggerSupport.stringForPrintObject(Swift.UnsafePoint

[2018-07-17 01:56] tal opened #61 "Codable doesn't conform to ReadableWritable"
I'm not sure if this is an oversight, but there's no default conformance for `Codable` to `ReadableWriteable`.

This conformance would allow for `File<DataType: ReadableWritable>` to work with any `Codable` and appears to be the intent as listed in the readme.

[2018-07-23 03:14] kballard opened #62 "Path + String produces bad AnySequence result if Path ends with / and String starts with /"
When adding a `String` to a `Path`, if the `Path` ends with `/` and the `String` starts with `/` then the results include `AnySequence` garbage.

[code]

Tested with the latest `develop` (7521741d10b9e4c9b3eb1501191652f821eb3142) on Swift 4.1.2.

[2018-07-30 17:54] jhoughjr commented on #59
I'm closing this since it appears to have been a compiler optimization issue.

[2018-07-30 17:54] #59 closed

[2018-08-31 08:59] phimage commented on #61
@tal If you have any idea of elegant implementation, you can propose it, or you can also PR

With the current implementation you can do that
[code]
The encoder and decoder used are static variable in `FileKit`

---

I will add in FileKit `JSONReadableWritable` and `PropertyListReadableWritable`

[2018-08-31 09:03] phimage commented on #58
Yep, currently the functions are private (_setAttribute and _setAttributes)
and all accessor are get only due to possible errors throwed

[2018-08-31 09:06] phimage commented on #56
`/` is a file system separator
You cannot do it
[code]

[2018-08-31 09:06] #56 closed

[2018-08-31 09:07] #51 closed

[2018-08-31 09:19] phimage commented on #57
[code]
I have not the right to do it

@nvzqz could you do it or add me to cocoapod?

[2018-09-11 23:20] IgorMuzyka opened #63 "Is there a way to write files to icloud using file kit?"
If yes then what the path that should be used and what changes are required for xcode project to support icloud on macOS

[2018-09-12 15:47] IgorMuzyka commented on #63
I'm sure i can just use this as path `"~/Library/Mobile Documents/com~apple~CloudDocs/"` and asking a user for access to this directory. But was interested if maybe there is a better way?

[2018-09-17 08:48] #61 closed

[2018-09-17 20:50] phimage commented on #57
🎉  Congrats

 🚀  FileKit (5.1.0) successfully published
 📅  September 17th, 22:38
 🌎  https://cocoapods.org/pods/FileKit
 👍  Tell your friends!

[2018-09-17 20:50] #57 closed

[2018-09-17 20:55] phimage commented on #63
I think there is no utility method to do it in FileKit

We could add it by using
https://developer.apple.com/documentation/foundation/filemanager/1411653-url

[code]

[2018-09-20 04:48] robert-cronin opened #65 "Swift 4.1 Compatibility"
I am getting a single error on the latest release of FileKit (5.2.0), the error is:
`Value of type 'UIImage' has no member 'pngData'`

[2018-09-20 04:59] robert-cronin commented on #65
I've just realised 'UIImage.pngData()' is a swift 4.2 [thing](https://stackoverflow.com/a/51855639/7644072) and there is already a branch for it, derp. Don't mind me :)

[2018-09-20 04:59] #65 closed

[2019-01-10 08:44] ArturGasparyan opened #66 "'pngData()' has been renamed to 'UIImagePNGRepresentation(_:)'"
In **Image+FileKit.swift** on line 66 I get the following error:

`'pngData()' has been renamed to 'UIImagePNGRepresentation(_:)'`

Changing `self.pngData()` to `UIImagePNGRepresentation(self)` solves the issue. Please, kindly update.

[2019-04-08 11:58] phimage commented on #66
https://developer.apple.com/documentation/uikit/uiimage/1624096-pngdata
You use an old swift version I think

[2019-04-08 11:58] #66 closed

[2019-04-26 03:04] Cookiezby commented on #47
Is there any update for this issue?

[2019-04-26 07:08] phimage commented on #47
The warning is not the same
[code]
https://nshipster.com/expressiblebystringinterpolation/

maybe something like that

[code]

[2019-09-20 06:12] JetForMe opened #69 "No way to get file base name (filename without extension)?"
Is there no way to get file base name (filename without extension)?

[2019-09-20 06:44] JetForMe opened #70 "Need way to append a path extension without removing anything after a period"
Setting `.pathExtension` replaces any possible path extension on the Path, even if it doesn't actually have one (e.g. a file named "Image 2019-09-18 19.43.38.067"). Path needs `append(extension: String)` or some such.

[2019-10-23 09:42] protosse commented on #29
[code]
hello, I use SwiftUI and FileKit together, and SwiftUI also has a struct named `Path`.
The following code will report error
`Binary operator '+(_:_:)' cannot be applied to operands of type 'Path' and 'String'`
[code]

[2019-10-23 12:51] phimage commented on #29
that's weird! ( swiftui `Path` ❤️  https://github.com/phimage/morphi )

did you try to do
[code]
in other file of your project, a file without SwiftUI? just to declare the alias and use it here

or add  (based on https://stackoverflow.com/questions/39537103/is-it-possible-to-alias-an-import )
[code]

I do not think that aliased import exists ... (`import struct FileKit.Path as FPath`)

[2019-10-24 02:27] protosse commented on #29
@phimage thanks to replay, finally I add
[code]
this works well.
but why
![image](https://user-images.githubusercontent.com/30048222/67447940-13191580-f648-11e9-8f0a-a9358d9a85b1.png)

[2019-11-30 02:55] ghost opened #71 "Pod version is older than latest release version."
pod latest version is v5.2.0, I have already update pod repo... Thanks...

[2019-11-30 02:58] ghost commented on #71
just, pod 'FileKit', :git => 'https://github.com/nvzqz/FileKit.git', thanks again~!

[2019-11-30 02:58] #71 closed, assigned to nobody

[2020-07-14 12:31] jis247 opened #72 "Is there any way to encrypt a file ?"
I don't want to store json in plain text which user can change. Is there any way to encrypt or decrypt or even hide that file.

[2020-07-20 06:22] luoxiu opened #73 "Please update cocoapods version to 6.0.0"
The latest version on cocoapods is 5.2.0, please update to 6.0.0, Thanks!

![image](https://user-images.githubusercontent.com/18638838/87905912-2d2b3b80-ca94-11ea-8901-a6f184c04e43.png)

[2020-07-20 07:06] luoxiu commented on #73
@phimage

[2020-08-08 15:05] luoxiu commented on #73
@nvzqz

[2020-08-25 02:38] nemowon commented on #73
@nvzqz

[2020-08-25 02:43] nemowon commented on #73
@phimage

[2020-08-25 06:05] phimage commented on #73
I have no access to cocopod account

in podfile you could use commit, branch, head code
And if you have some issue, clone to your github and point to a specific
git and branch

Le mar. 25 août 2020 à 04:43, Nemo <notifications@github.com> a écrit :

[2020-09-02 00:45] #73 closed, assigned to nobody

[2020-10-16 08:27] lechuckcaptain commented on #69
Something like that should do the trick?

[code]

[2020-10-16 22:03] JetForMe commented on #69
Of course I can do that. What I was hoping for was for that to already be included in FileKit.

[2020-10-19 07:26] lechuckcaptain commented on #69
Sure, just wanted to have a feedback before submitting a pull request 😄

[2020-10-19 23:10] JetForMe commented on #69
Ah in that case, that seems as good as any other way of doing it.

[2020-10-28 10:48] alex-dubatov opened #74 "Deprecated method FileHandle.write(Data)"
https://github.com/nvzqz/FileKit/blob/38fb74327387b1c8accd257177ef4c4cc00c1fbb/Sources/TextFile.swift#L299

The method may crash an app.
Can you replace with a safe method?

[2021-02-14 06:23] phimage commented on #72
CryptoSwift, CommonCrypt to convert text to crypted Data
but maybe if you want to protect it consider using keychain to store it

[2021-02-14 06:23] #72 closed, assigned to nobody

[2021-02-14 06:41] phimage commented on #70
this replace
[code]

---

to append to current extension ("" if no ext)
[code]

of make and extension
[code]

[2021-02-14 06:41] #70 closed, assigned to nobody

[2021-02-14 06:56] #69 closed, assigned to nobody

[2021-02-27 06:32] interior-night opened #75 "Typo in ReadMe?"
[code]

Should that be "Forcibly copies the file at the left path to the right path by deleting anything at the RIGHT path before copying the file." ? If not, wouldn't it be a move instead of a copy?

[2021-03-17 22:28] tony-osibov opened #76 "CocoaPods extremely out-of-date (5.2 when it should be 6.0)"
I was able to find this issue https://github.com/nvzqz/FileKit/issues/73 but I do not understand why it was closed without any resolution. Does no-one maintaining this project have access to update the Podspec in the public CocoaPods repo? I am happy to help in anyway I can to make this happen. Thanks!

[2022-01-12 05:05] raghavnaphade opened #77 "Is there anyway to delete or clear contents of the file?"